a {
    color: red; 
}


body{ margin-left: auto;
    max-width: 1268px
}

   



#navbar ul ul{
    display:none;
}

#navbar ul li:hover > ul {
    display: block; 
}

#navbar ul {
    color:blue; 
    list-style: none; 
}

#navbar ul li > ul { 
    color: green;
}